# Gateways
API_GATEWAY_PORT=3000

REALTIME_GATEWAY_PORT=3001

PATIENT_SERVICE_PORT=3002

VITALS_SERVICE_PORT=3003

TRANSFORM_SERVICE_PORT=3004

MACHINES_SERVICE_PORT=3005

ALERTS_SERVICE_PORT=3006

RECOMMENDATIONS_SERVICE_PORT=3007

PATIENT_STATUS_WORKER_PORT=3008 

RECOMMENDATIONS_WORKER_PORT=3009

AVERAGE_CALCULATOR_WORKER_PORT=3010

ANALYTICS_PORT=3011