# Gateways
API_GATEWAY_PORT=3000
API_GATEWAY_URL=http://localhost

REALTIME_GATEWAY_PORT=3001
REALTIME_GATEWAY_URL=http://localhost

PATIENT_SERVICE_PORT=3002
PATIENT_SERVICE_URL=http://localhost
    
VITALS_SERVICE_PORT=3003
VITALS_SERVICE_URL=http://localhost

TRANSFORM_SERVICE_PORT=3004
TRANSFORM_SERVICE_URL=http://localhost

MACHINES_SERVICE_PORT=3005
MACHINES_SERVICE_URL=http://localhost

ALERTS_SERVICE_PORT=3006
ALERTS_SERVICE_URL=http://localhost:3006

RECOMMENDATIONS_SERVICE_PORT=3007
RECOMMENDATIONS_SERVICE_URL=http://localhost:3007

PATIENT_STATUS_WORKER_PORT=3008 
PATIENT_STATUS_WORKER_URL=http://localhost:3008

RECOMMENDATIONS_WORKER_PORT=3009
RECOMMENDATIONS_WORKER_URL=http://localhost:3009

AVERAGE_CALCULATOR_WORKER_PORT=3010
AVERAGE_CALCULATOR_WORKER_URL=http://localhost:3010

ANALYTICS_PORT=3011
ANALYTICS_URL=http://localhost:3011